.me{
    color: rgb(12, 41, 51);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hi{
    font-size: xx-large;
    background-color: blueviolet;

}   

.axo{
    width: 125px;
    height: 165px;
    background-color: yellow;
}

.flex_titel{
    display: flex;
    border: 5px solid black;
}



