h1, h2, p, ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(48, 74, 64);
}

.flex{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

body{
    
    display: flex;
    justify-content: center;
    background: repeating-linear-gradient(150deg, #f1bd7c, #f3addc);
    
}

.hi{
    display: flex;
    justify-content: center;
    font-size: 77px;

}

.midte{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.axo{
    height: 250px; width: 190px;
    background-color: #628566;
    display: flex;
}

@media (max-width: 390px) {
    .midte{
        flex-direction: column;
    }
}

.swing{
    animation: swing ease-in-out 1s infinite alternate;
        transform-origin: center -20px;
        float: left;
        box-shadow: 5px 5px 3px;
}

.swing{
    border: 10px solid #bdc0bd;
}

.swing:after{
    content: '';
    position: absolute;
    width: 20px; height: 20px;  
    border: 1px solid rgb(73, 67, 66);
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

/* nail */

.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #080000;
}

@keyframes swing{
    0% {transform: rotate(3deg);}
    100% {transform: rotate(-3deg);}
}

.btnlist{
    border: 4px solid;
    color: rgb(44, 70, 62);
    border-radius: 15px;
    padding: 6px;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#worklist{
    display: flex;
    justify-content: center;
}

.btns{
    margin: 10px;
}

a:link, a:visited{
    color: rgb(150, 192, 163);
    text-decoration: none;
    background-color: rgb(24, 59, 51);
    border-radius: 15px;
    padding: 10px;
    margin: 3px;
}

a:hover, a:active{
    color: rgb(231, 160, 160);
    text-decoration: dashed;
}

.softpink{
    list-style: none;
}

.softpink li::before{
    content: "\2022";
    color: rgb(161, 107, 139);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.center{
    transform:prespective(1000px) translate(-50%,-50%);
    transform:skewY(15deg);
    transition:0.5s;
}

.center:hover{
    transform:prespective(1000px) translate(-50%,-50%);
    transform:skewY(0deg);
  }

  .center:active{
    transform:prespective(1000px) translate(-50%,-50%);
    transform:skewY(0deg); 
  }

  .toolbar{
    background-color: aliceblue;
    height: 10%;
    display: block;
  }