.header {
    width: 333px;
    margin: 0 auto;
}

.tborder {
    border-right: 3px solid #DA8859;
    border-bottom: 3px solid #DA8859;
    border-top: 3px solid #CA7543;
    border-left: 3px solid #CA7543;
}

.rotate {
    animation: rotation 2.25s infinite linear;
    margin: 9;
}


.vl {
  border-left: 3px dashed #A66C4B;
  height: 100px;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg)
    }
}

.hr {
    border-top: 3px dashed #DA8858;
    border-radius: 7px;
}

.lowertxt{
    float: right;
    margin: 0 auto;
}

#centeredimg{
    margin: auto;
    width: 85px;
}

#centeredimg2{
    margin: right;
    margin-left: 50px;
    width: 200x;
}

.ytvid{
    margin-left: 5px;

    border-right: 6px solid #A8D7FA;
    border-bottom: 6px solid #A8D7FA;
    border-top: 6px solid #8BCAFA;
    border-left: 6px solid #8BCAFA;
}