.header {
    width: 333px;
    margin: 0 auto;
}

.tborder {
    border-right: 3px solid #DA8859;
    border-bottom: 3px solid #DA8859;
    border-top: 3px solid #CA7543;
    border-left: 3px solid #CA7543;
}

.rotate {
    animation: rotation 2.25s infinite linear;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}