body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    background: linear-gradient(150deg, #5A94AE, #5AAE6A);
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
} 


.container{
  min-height: 100vh;
  max-width: 100%;
}

.todo-app{
    max-width: 100%;
    max-width: 540px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    margin-top: 80px;
    padding: 40px 400px 40px 30px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(187, 191, 194);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    background-color: whitesmoke;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 15px 50px;
    background-color: rgb(36, 220, 168);
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 0px;
    cursor: pointer;
}

ul li::before{
    /* Jeg er nået til 10:45 i videoen*/
}

